<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    
    <link th:href = "@{/css/notification.css}" rel="stylesheet" >
    <title>Welcome to Our Site</title>
</head>

<!--https://source.unsplash.com/collection/297224/1600x900  FOTOS DE PLANTAS-->

<body layout:fragment="content">
  <!--General Notification - Is good - Is Bad-->
  <br>
  <div id="container" th:if="${noError != null}"> 
    <div id="success-box" th:if="${noError}">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="shadow scale"></div>
      <div class="message"><h1 class="alert">Great!</h1><p class="paragrafo">yay, everything is healthy.</p></div>
      <button class="button-box"><h1 class="green">continue</h1></button>
    </div>
    <div id="error-box" th:unless="${noError}">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face2">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth sad"></div>
      </div>
      <div class="shadow move"></div>
      <div class="message"><h1 class="alert">Oh no</h1><p class="paragrafo">Your pacels needs your attention.</div>
      <button class="button-box"><h1 class="red">try again</h1></button>
    </div>
  </div>
  <!--End of General Notification-->

    <div >
      <br>
      <br>
        <h1 style="color:black">My Parcels</h1>
        <a class="btn btn-primary" th:href="@{/parcel/new}">Add Parcel</a>
        <br>
        <br>
    </div>
    <!-- My Parcel Cards-->
    <div class="row row-cols-3">
        <div class="center col-sm"  th:each="parcel : ${goodPlants}">
            <style>
                .property-image {background-image: url("https://source.unsplash.com/collection/297224/1600x900");}
            </style>
            <!--TODO Adicionar uma propriedade de foto na parcela, é automaticamente gerada pelo link acima, preciso que esla esteja em user.parcel.image para poder dar render de varias diferentes-->
            <div class="property-card">
              <a th:href="@{'/parcel/' + ${parcel.key.parcelId}}">
                <div class="property-image">
                  <div class="property-image-title">
                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                  </div>
                </div>
              </a>
              <div class="property-description">
                <h5 th:text="${parcel.key.location}"> Card Title </h5>
                <h6>Plant:</h6>
                <p th:text="${parcel.key.plant.englishName}"></p>
                <div th:if="${parcel.value != null}">
                	<div th:if="${parcel.value}">
                		<img src="https://www.flaticon.com/svg/static/icons/svg/1721/1721539.svg" width="35" alt="">
                	</div>
                	<div th:unless="${parcel.value}">
                		<img src="https://www.flaticon.com/svg/static/icons/svg/564/564619.svg" width="35" alt="">
                	</div>
                </div>
              </div>
              <a th:href="@{'/parcel/' + ${parcel.key.parcelId}}">
                <div class="property-social-icons">
                  <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                </div>
              </a>
            </div>
          </div>
          
          <!-- END -->
        </div>
</body>