<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Measures</title>
</head>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <canvas width="532" height="264" id="measuresChart"></canvas>
            <input type="hidden" id="data" th:value="${data}" />
            <input type="hidden" id="type" th:value="${type}" />            
        </div>
    </section>
</div>


<script layout:fragment="optional" th:src="@{/javascript/measures.js}"></script>
