<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    
    <link th:href = "@{/css/notification.css}" rel="stylesheet" >
    <title>Welcome to Our Site</title>
</head>

<!--https://source.unsplash.com/collection/297224/1600x900  FOTOS DE PLANTAS-->

<body layout:fragment="content">
  <!--General Notification - Is good - Is Bad-->
  <div id="container">
    <div id="success-box">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="shadow scale"></div>
      <div class="message"><h1 class="alert">Success!</h1><p class="paragrafo">yay, everything is working.</p></div>
      <button class="button-box"><h1 class="green">continue</h1></button>
    </div>
    <div id="error-box">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face2">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth sad"></div>
      </div>
      <div class="shadow move"></div>
      <div class="message"><h1 class="alert">Error!</h1><p class="paragrafo">oh no, something went wrong.</div>
      <button class="button-box"><h1 class="red">try again</h1></button>
    </div>
  </div>
  <!--End of General Notification-->





    <div >
        <h1 style="color:black">My Parcels</h1>
        <button style="text-align: center" type="button" class="btn btn-primary">Add Parcel</button>
        <p>TODO: Conditional Phrase. 
        Your plants are: Healthy! | Warning Your Parcel: Is in danger
        </p>
    </div>
    
    <div class="row row-cols-3">
        <div class="center col-sm"  th:each="parcel : ${user.parcels}">
            <style>
                .property-image {background-image: url("https://source.unsplash.com/collection/297224/1600x900");}
            </style>
            <!--TODO Adicionar uma propriedade de foto na parcela, é automaticamente gerada pelo link acima, preciso que esla esteja em user.parcel.image para poder dar render de varias diferentes-->
            <div class="property-card">
              <a href="#">
                <div class="property-image">
                  <div class="property-image-title">
                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                  </div>
                </div></a>
              <div class="property-description">
                <h5 th:text="${parcel.location}"> Card Title </h5>
                <h6>Plant:</h6>
                <p th:text="${parcel.plant}">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
              </div>
              <a href="#">
                <div class="property-social-icons">
                  <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                </div>
              </a>
            </div>
          </div>
          
          <!-- END -->
        </div>
</body>