<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Parcel</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="col">
                <div class="col-md-12">
                    <body>
                        <div>
                            <h2>Parcel info</h2>
                            <br />
                            <table>
                                <tr>
                                    <th>Owner</th>
                                    <th >Location</th>
                                    <th >Plant</th>
                                <tr>
                                    <td ><a th:href="@{${parcel.owner.name}}" th:text="${parcel.owner.name}"></a></td>
                                    <td th:text="${parcel.location}">...</td>
                                    <td th:text="${parcel.plant.englishName}">...</td>
                                </tr>
                               
                            </table>
                        </div>
                        <br>

                        <div >
                            <h3>Ph Sensors</h2>
                                <p>Bellow will render dynamicly table with Sensors</p>
                           
                            <table>
                                <tr>
                                    <th>Sensor Id</th>
                                </tr>
                                <th:block th:each="sensorph : ${parcel.phSensors}">
                                    <tr>
                                        <td ><a th:href="@{${sensorph.sensorId}}" th:text="${sensorph.sensorId}">...</a></td>
                                        <td th:text="${sensorph.latest.value}" >...</td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                        
                        <div >
                            <h3>Humidity Sensors</h2>
                                <p>Bellow will render dynamicly table with Sensors</p>
                            <table>
                                <tr>
                                    <th>Sensor Id</th>
                                </tr>
                                <th:block th:each="sensorhum : ${parcel.humSensors}">
                                    <tr>
                                        <td ><a th:href="@{${sensorhum.sensorId}}" th:text="${sensorhum.sensorId}"></a></td>
                                        <td th:text="${sensorhum.latest.value}" >...</td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                        
                        <div th:if="${goodConditions}">
                            <h2>Results</h2>
                            <div th:if="${goodConditions}">
                            Condições são boas
                            </div>
                            <div th:unless="${goodConditions}">
                            Condições não são boas, ph e humidade não são adequadas a planta
                            </div>
                        </div>
                        <div class="container" style="border: 1px black solid">
                        	<div class="row">
                        		<div class="col-md-12">
                        			As seguintes plantas apresentam uma boa umidade e consequentemente, uma boa irrigação.
                        		</div>
                        	</div>
                        	<div class="row" th:each="plant: ${plants}">
                        		<div class="col-md-12">
                        			<p th:text="${plant.cientificName}">...</p>
                        			<p th:text="${plant.englishName}">...</p>
                        		</div>
                        	</div>
                        </div>                
                    </body>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>