<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Parcel</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="col">
                <div class="col-md-12">
                    <body>
                        <div>
                            <h2>Parcel info</h2>
                            <br />
                            <table>
                                <tr>
                                    <th>Owner</th>
                                    <th >Location</th>
                                    <th >Plant</th>
                                <tr>
                                    <td ><a th:href="@{${parcel.owner}}" th:text="${parcel.owner}"></a></td>
                                    <td th:text="${parcel.location}">...</td>
                                    <td th:text="${parcel.plant}">...</td>
                                </tr>
                               
                            </table>
                        </div>
                        <br>

                        <div >
                            <h3>Ph Sensors</h2>
                                <p>Bellow will render dynamicly table with Sensors</p>
                           
                            <table>
                                <tr>
                                    <th>Sensor Id</th>
                                </tr>
                                <th:block th:each="sensorph : ${parcel.phSensors}">
                                    <tr>
                                        <td ><a th:href="@{${sensorph.sensorid}}" th:text="${sensorph.sensorid}"></a></td>
                                        <!-- Queria por last measurment aqui, mas não tenho mapping direto , so tenho mapa para o array de measurments-->
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                        
                        <div >
                            <h3>Humidity Sensors</h2>
                                <p>Bellow will render dynamicly table with Sensors</p>
                            <table>
                                <tr>
                                    <th>Sensor Id</th>
                                </tr>
                                <th:block th:each="sensorhum : ${parcel.humSensors}">
                                    <tr>
                                        <td ><a th:href="@{${sensorhum.sensorid}}" th:text="${sensorhum.sensorid}"></a></td>
                                        <!-- Queria por last measurment aqui, mas não tenho mapping direto , so tenho mapa para o array de measurments-->
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                        <div class="container" style="border: 1px black solid">
                        	<div class="row">
                        		<div class="col-md-12">
                        			As seguintes plantas apresentam uma boa umidade e consequentemente, uma boa irrigação.
                        		</div>
                        	</div>
                        	<div class="row" th:each="plant: ${goodplants}">
                        		<div class="col-md-12">
                        			<p th:text="${plant.cientificName}">...</p>
                        			<p th:text="${plant.englishName}">...</p>
                        		</div>
                        	</div>
                        </div>
                        <div class="container" style="border: 1px black solid">
                        	<div class="row">
                        		<div class="col-md-12">
                        			As seguintes plantas apresentam uma irrigação exagerada, prejudicial a elas.
                        		</div>
                        	</div>
                        	<div class="row" th:each="plant: ${wetplants}">
                        		<div class="col-md-12">
                        			<p th:text="${plant.cientificName}" style="color-text: red">...</p>
                        			<p th:text="${plant.englishName}" style="color-text: red">...</p>
                        		</div>
                        	</div>
                        
                        </div>
                        <div class="container" style="border: 1px black solid">
                        	<div class="row" >
                        		<div class="col-md-12">
                        			As seguintes plantas apresentam uma irrigação escassa, prejudicial a elas.
                        		</div>
                        	</div>
                        	<div class="row" th:each="plant: ${dryplants}">
                        		<div class="col-md-12">
                        			<p th:text="${plant.cientificName}">...</p>
                        			<p th:text="${plant.englishName}">...</p>
                        		</div>
                        	</div>
                        
                        </div>
                
                    </body>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>