<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Plant Name</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<body>
							<h2>Plant info</h2>
							<br />
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Cientific name</th>
										<th scope="col">English Name</th>
										<th scope="col">Ph Max</th>
										<th scope="col">Ph Min</th>
										<th scope="col">Hum Max</th>
										<th scope="col">Hum Min</th>
									</tr>
								</thead>
								<tr>
									<td scope="row" th:text="${plant.plantId}">...</td>
									<td th:text="${plant.cientificName}">...</td>
									<td th:text="${plant.englishName}">...</td>
									<td th:text="${plant.phMax}">...</td>
									<td th:text="${plant.phMin}">...</td>
									<td th:text="${plant.humMax}">...</td>
									<td th:text="${plant.humMin}">...</td>
								</tr>

							</table>
					</div>
</body>
</div>
</div>
</div>
</section>
</div>

</body>
</html>